/* setting */
* {
    margin: 0;
    padding: 0;
}

.container {
    /* size */
    width: 100%;
    /* design */
    background: #FFFFFF;
    /* position */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dot--medium {
    /* size */
    width: 15px;
    height: 15px;
    /* design */
    background:#da291c;
    border-radius: 3px;
    transform: rotate(45deg);
    /* position */
    display: inline-block;
    margin-left: 10px;
}

.dot--small {
    /* size */
    width: 10px;
    height: 10px;
    /* design */
    background: #da291c;
    border-radius: 3px;
    transform: rotate(45deg);
    /* position */
    display: inline-block;
    margin-left: 10px;
}

/* header */
.header {
    /* position */
    margin-top: 66px;
    margin-bottom: 55px;
}

.logo {
    /* position */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    justify-content: center;
    /* size */
    width: 113px;
    height: 113px;
}

#team-introduction {
    /* size */
    width: 724px;
    height: 92px;
}

.process {
    /* size */
    width: 1200px;
    /* position */
    margin-bottom: 40px;
}

#signin {
    /* position */
    margin-right: auto;
    margin-bottom: 20px;
    /* font */
    font-size: 55px;
    font-weight: bold;
}

.signin-process {
    /* size */
    width: 1000px;
    /* position */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* login form */
.login-form {
    /* size */
    width: 840px;
    /* position */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* design */
    background: #FFFFFF;
    box-shadow: 5px 5px 5px #00000029;
    border: 1px solid #707070;
    border-radius: 46px;
}

/* 회원가입 완료 안내 */
.signin_complete {
    /* position */
    text-align: center;
    margin-top: 55px;
    margin-bottom: 45px;
}

#signin_complete_line1 {
    /* font */
    font-size: 40px;
    font-weight: bold;
    color: #333333;
}

#signin_complete_line2 {
    /* font */
    font-size: 17px;
    color: #707070;
}

.user-input-area {
    /* position */
    position: relative;
    line-height: 100%;
}

.user-input-area:first-child {
    /* position */
    margin-bottom: 18px;
}

.user-input-area input{
    /* size */
    width: 679px;
    height: 101px;
    box-sizing: border-box;
    padding-left: 20px;
    /* design */
    background: #E8E8E8;
    border: none;
    border-radius: 74px;
    outline:none;
    /* font */
    font-size: 25px;
    color: #333333;
}

.user-input-area input::placeholder {
    /* font */
    font-size: 25px;
    font-weight: 500;
    color: #ACACAC;
}

.login-button button{
    /* size */
    width: 679px;
    height: 119px;
    /* position */
    margin-top: 36px;
    margin-bottom: 105px;
    /* design */
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 26px;
    opacity: 1;
    letter-spacing: 0px;
    cursor: pointer;
    /* font */
    font-size: 25px;
    color: #333333;
}

.login-button button:hover {
    /* design */
    background: #da291c;
    /* font */
    color: #FFFFFF;
}

/* footer */
footer {
    /* position */
    margin-top: 75px;
    /* size */
    width: 100%;
    height: 259px;
    background: #55585A 0% 0% no-repeat padding-box;
}

#footer-nav {
    /* size */
    height: 187px;
}

#footer-info {
    /* design */
    border-top: 1px solid black;
    /* size */
    height: 72px;
}

.footer-info-text {
    /* position */
    margin-top: 16px;
    margin-left: 50px;
    /* font */
    font-size: 15px;
    color: #FFFFFF;
    opacity: 1;
}