body {
    margin: 0;
    padding: 0;
}

.body-container {
    padding-left: 12px;
    padding-top: 10px;
}

.left-container {
    float: left;

    width: 250px;
    height: 100%;
    
    border-color: 2px solid white;
    
    margin-right: 10px;
}

ul {
    padding-left: 10px;
}

.right-container {
    display: inline-block;

    width: 1240px;
    height: 650px;

    border: 1px solid #efefef;
    background-color: #efefef;
}