/* setting */
* {
    margin: 0;
    padding: 0;
}

.container {
    /* size */
    width: 100%;
    /* design */
    background: #FFFFFF;
    /* position */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dot--small {
    /* size */
    width: 10px;
    height: 10px;
    /* design */
    background: #da291c;
    border-radius: 3px;
    transform: rotate(45deg);
    /* position */
    display: inline-block;
    margin-left: 5px;
}

/* header */
.header {
    /* position */
    margin-top: 66px;
    margin-bottom: 85px;
}

.logo {
    /* size */
    width: 113px;
    height: 113px;
    /* position */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    justify-content: center;
}

#team-introduction {
    /* size */
    width: 724px;
    height: 92px;
}

/* login form */
.login-form {
    /* size */
    width: 840px;
    /* position */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* design */
    background: #FFFFFF;
    box-shadow: 5px 5px 5px #00000029;
    border: 1px solid #707070;
    border-radius: 46px;
}

#login {
    /* position */
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    /* font */
    font-size: 50px;
    font-weight: bold;
}

.user-input-area {
    /* position */
    line-height: 100%;
}

.user-input-area:first-child {
    /* position */
    margin-bottom: 18px;
}

.user-input-area input{
    /* size */
    width: 679px;
    height: 101px;
    box-sizing: border-box;
    padding-left: 20px;
    /* design */
    background: #E8E8E8;
    border: none;
    border-radius: 74px;
    outline:none;
    /* font */
    font-size: 25px;
    color: #333333;
}

.user-input-area input::placeholder {
    /* font */
    font-size: 25px;
    font-weight: 500;
    color: #ACACAC;
}

.login-button input{
    /* size */
    width: 679px;
    height: 119px;
    /* position */
    margin-top: 36px;
    /* design */
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 26px;
    opacity: 1;
    letter-spacing: 0px;
    cursor: pointer;
    /* font */
    font-size: 30px;
    color: #333333;
}

.login-button input:hover {
    /* design */
    background: #DD282E;
    /* font */
    color: #FFFFFF;
}

.caption{
    /* size */
    width: 100%;
    /* position */
    margin-top: 28px;
    margin-bottom: 75px;
    /* font */
    text-align: center;
    letter-spacing: 0px;
    font-size: 20px;
    color: #ACACAC;
    opacity: 1;
}

.caption a {
    /* position */
    margin-left: 10px;
    /* font */
    text-decoration: none;
    color: #ACACAC;
    font-weight: 600;
}

.caption a:hover {
    /* font */
    color:  #55585A;
}

/* footer */
footer {
    /* position */
    margin-top: 150px;
    /* size */
    width: 100%;
    height: 259px;
    background: #55585A 0% 0% no-repeat padding-box;
}

#footer-nav {
    /* size */
    height: 187px;
}

#footer-info {
    /* design */
    border-top: 1px solid black;
    /* size */
    height: 72px;
}

.footer-info-text {
    /* position */
    margin-top: 16px;
    margin-left: 50px;
    /* font */
    font-size: 15px;
    color: #FFFFFF;
    opacity: 1;
}