* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    background: #FFFFFF;
}

/* 네비게이션 바 */
.nav_bar {
    display: flex;
    align-items: center;
    margin: 66px 45px 0;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 113px;
    height: 113px;
    display: block;
    justify-content: center;
}

/* 게시글 작성 */
.post-container {
    padding-top: 66px;
    margin-left: 45px;
    margin-right: 45px;
    /* padding-left: 45px;
    padding-right: 45px; */
}

.post-title {
    font-weight: 600;
    height: 50px;
    width: 100%;
    font-size: x-large;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* .post-content {
    height: 400px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #6C6C6C;
} */

/* 버튼 */
.btn-wrap {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0px;
    font-size: large;
    color: #6F6F6F;;
}


/* 입력창 css */

#id_title{
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border: none;
    text-decoration: none;
    border-radius: 25px;
    font-size: 20px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

#id_desc{
    height: 400px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #6C6C6C;
    font-size: 25px;
    width: 100%;
    resize: none;   
    border: none;
}

#id_image{
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0px;
    font-size: large;
    color: #6F6F6F;;
}

#file_upload_button{
    background-color: none;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline:none
}


/* 파일 업로드 버튼 */
.btn--left {display:inline-block; margin-right: 10px;}


.btn--left label {
  display: inline-block;
  /* padding: .5em .75em; */
  width: 200px;
  height: 50px;
  color: #6F6F6F;
  font-size: large;
  line-height: 50px;
  vertical-align: middle;
  background: #FFFFFF;
  cursor: pointer;
  border: 1px solid #707070;
  /* border-bottom-color: #e2e2e2; */
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  letter-spacing: 0px;
}

.btn--left input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}