* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    background: #FFFFFF;
}

/* 네비게이션 바 */
.nav_bar {
    display: flex;
    align-items: center;
    margin: 66px 45px 0;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 113px;
    height: 113px;
    display: block;
    justify-content: center;
}

/* 게시글 작성 */
.post-container {
    padding-top: 66px;
    margin-left: 45px;
    margin-right: 45px;
}

.post-title {
    font-weight: 600;
    height: 50px;
    width: 100%;
    font-size: x-large;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* .post-content {
    height: 400px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #6C6C6C;
} */

/* 버튼 */
.btn-wrap {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0px;
    font-size: large;
    color: #6F6F6F;;
}


/* ///////////////////////// */
#id_title{
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border: none;
    text-decoration: none;
    border-radius: 25px;
    font-size: 20px;
    width: 99%;
    height: 50px;
    margin-bottom: 10px;

    padding-left: 20px;
}

#id_desc{
    height: 400px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #6C6C6C;
    font-size: 25px;
    width: 98%;
    resize: none;   
    border: none;
}

#id_image{
    width: 200px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0px;
    font-size: large;
    color: #6F6F6F;;
}

#file_upload_button{
    background-color: none;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline:none
}