{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <title>LIKELION X lotte 화학/건설/제조</title>
</head>
<body>
<!-- 페이지마다 값 주기 -->
<ul><a href="{% url 'post' %}">롯데엠시시</a></ul>
<ul><a href="{% url 'post' %}">롯데건설</a></ul>
<ul><a href="{% url 'post' %}">롯데CM사업본부</a></ul>
<ul><a href="{% url 'post' %}">롯데기공</a></ul>
<ul><a href="{% url 'post' %}">롯데알미늄</a></ul>
<ul><a href="{% url 'post' %}">롯데정밀화학</a></ul>
<ul><a href="{% url 'post' %}">롯데케미칼</a></ul>
<ul><a href="{% url 'post' %}">롯데비피화학</a></ul>
<ul><a href="{% url 'post' %}">캐논코리아 비즈니스 솔루션</a></ul>
<ul><a href="{% url 'post' %}">케이피켐텍</a></ul>
<ul><a href="{% url 'post' %}">한국후지필름</a></ul>
</body>
</html>