{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <title>LIKELION X lotte 식품</title>
</head>
<body>
    <div class="body-container">
        <div class="left-container">
            <ul>롯데제과</ul>
            <ul>롯데칠성음료(음료BG)</ul>
            <ul>롯데칠성음료(주류BG)</ul>
            <ul>롯데푸드</ul>
            <ul>롯데네슬레</ul>
            <ul>롯데아사히주류</ul>
            <ul>롯데유통사업본부</ul>
            <ul>롯데중앙연구소</ul>
            <ul>롯데지알에스</ul>
        </div>

        <div class="right-container">
            
        </div>

        <!-- 글 작성 페이지 링크 -> 성후오빠 코드 받아서 -->
        <div class="write-btn"> 글 작성 </div>
    </div>
</body>
</html>