{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/board_list.css' %}">
    <title>LIKELION X lotte 식품</title>
</head>
<body>
{% for one_food in all_food %}
<ul><a href="{% url 'food_post' one_food.id %}">{{one_food}}</a></ul>
{% endfor %}
<!-- <ul>롯데칠성음료(음료BG)</ul>
<ul>롯데칠성음료(주류BG)</ul>
<ul>롯데푸드</ul>
<ul>롯데네슬레</ul>
<ul>롯데아사히주류</ul>
<ul>롯데유통사업본부</ul>
<ul>롯데중앙연구소</ul>
<ul>롯데지알에스</ul> -->
</body>
</html>