{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계열별 회사 목록</title>
    <link rel="stylesheet" href="{% static 'css/post-list.css' %}">

</head>

<body>


    <div class="container">
        <div id="header">
            <a href="{% url 'mainpage' %}">
                <img src="{% static 'img/logo.png' %}" class="logo">
            </a>
            <span class="my_page"><a href="{% url 'mypost' user.pk %}">마이페이지</a></span>
        </div>

        <div id="layout">
            <div class="company-list">
                <div id="business-field">{{outer}}<div class="dot--medium"></div>
                </div>

                {% for c in outer.types.all %}

                <div class="company-box">
                    <a href="{% url 'index' c.pk %}">
                        <div class="company-name">{{c.subject}}</div>
                    </a>
                </div>

                {% endfor %}

            </div>

            <div class="post-container">
                <!--이거 간격 같게 어케 하나요...??-->
                <div id="post-list__head">
                    <div id="post-writer__head" class="post-writer head">닉네임</div>
                    <div id="post-title__head" class="post-title head">제목</div>
                    <div id="post-date__head" class="post-date head">게시 날짜</div>
                    <div id="post-views__head" class="post-views head">조회수</div>
                    <div id="post-scrap__head" class="post-scrap head">스크랩</div>
                    <div id="post-comment__head" class="post-comment head">댓글</div>
                </div>

                <div id="post-list">

                    {% for one_post in all_post %}
                    {% if outer.id == 5 %}
                    {% if one_post.boards_number in food_company_post %}
                    <a href=" {% url 'detail' specific_company_type.pk one_post.id %}">
                        <div class="post-box">
                            <div class="post" id="post1">
                                <div class="post-writer"> {{one_post.author.nickname}}
                                </div>
                                <div class="post-title"> {{one_post}}
                                </div>
                                <div class="post-date">{{one_post.create_at|date:"Y-m-d"}}</div>

                                <div class="post-views">10000</div>
                                <div class="post-scrap">30</div>
                                <div class="post-comment">5</div>
                            </div>
                        </div>
                    </a>
                    {% endif %}

                    {% elif outer.id == 6 %}
                    {% if one_post.boards_number in retail_company_post %}
                    <a href=" {% url 'detail' specific_company_type.pk one_post.id %}">
                        <div class="post-box">
                            <div class="post" id="post1">
                                <div class="post-writer"> {{one_post.boards_number}}
                                </div>
                                <div class="post-title"> {{one_post}}
                                </div>
                                <div class="post-date">{{one_post.create_at|date:"Y-m-d"}}</div>
                                <div class="post-views">10000</div>
                                <div class="post-scrap">30</div>
                                <div class="post-comment">5</div>
                            </div>
                        </div>
                    </a>
                    {% endif %} {% elif outer.id == 7 %} {% if one_post.boards_number in chem_company_post %} <a
                        href=" {% url 'detail' specific_company_type.pk one_post.id %}">
                        <div class="post-box">
                            <div class="post" id="post1">
                                <div class="post-writer"> {{one_post.boards_number}}
                                </div>
                                <div class="post-title"> {{one_post}}
                                </div>
                                <div class="post-date">{{one_post.create_at|date:"Y-m-d"}}</div>

                                <div class="post-views">10000</div>
                                <div class="post-scrap">30</div>
                                <div class="post-comment">5</div>
                            </div>
                        </div>
                    </a>
                    {% endif %}

                    {% elif outer.id == 8 %}
                    {% if one_post.boards_number in tour_company_post %}
                    <a href=" {% url 'detail' specific_company_type.pk one_post.id %}">
                        <div class="post-box">
                            <div class="post" id="post1">
                                <div class="post-writer"> {{one_post.boards_number}}
                                </div>
                                <div class="post-title"> {{one_post}}
                                </div>
                                <div class="post-date">{{one_post.create_at|date:"Y-m-d"}}</div>

                                <div class="post-views">10000</div>
                                <div class="post-scrap">30</div>
                                <div class="post-comment">5</div>
                            </div>
                        </div>
                    </a>
                    {% endif %} {% endif %} {% endfor %} </div>
                <div class="paginator">
                    {%if food_company_post.has_previous%} <a href="?page=1">First</a>
                    <a href="?page={{food_company_post.previous_page_number}}">Previous</a>
                    {%endif%}

                    <span>{{food_company_post.number}}</span>
                    <span>of</span>
                    <span>{{food_company_post.paginator.num_pages}}</span>

                    {%if food_company_post.has_next%}
                    <a href="?page={{food_company_post.next_page_number}}">Next</a>
                    <a href="?page={{food_company_post.paginator.num_pages}}">Last</a>
                    {%endif%}

                    {% comment %}
                    {%if retail_company_post.has_previous%} <a href="?page=1">First</a>
                    <a href="?page={{retail_company_post.previous_page_number}}">Previous</a>
                    {%endif%}

                    <span>{{retail_company_post.number}}</span>
                    <span>of</span>
                    <span>{{retail_company_post.paginator.num_pages}}</span>

                    {%if retail_company_post.has_next%}
                    <a href="?page={{retail_company_post.next_page_number}}">Next</a>
                    <a href="?page={{retail_company_post.paginator.num_pages}}">Last</a>
                    {%endif%}

                    {%if chem_company_post.has_previous%} <a href="?page=1">First</a>
                    <a href="?page={{chem_company_post.previous_page_number}}">Previous</a>
                    {%endif%}

                    <span>{{chem_company_post.number}}</span>
                    <span>of</span>
                    <span>{{chem_company_post.paginator.num_pages}}</span>

                    {%if chem_company_post.has_next%}
                    <a href="?page={{chem_company_post.next_page_number}}">Next</a>
                    <a href="?page={{chem_company_post.paginator.num_pages}}">Last</a>
                    {%endif%}

                    {%if tour_company_post.has_previous%} <a href="?page=1">First</a>
                    <a href="?page={{tour_company_post.previous_page_number}}">Previous</a>
                    {%endif%}

                    <span>{{tour_company_post.number}}</span>
                    <span>of</span>
                    <span>{{tour_company_post.paginator.num_pages}}</span>

                    {%if tour_company_post.has_next%}
                    <a href="?page={{tour_company_post.next_page_number}}">Next</a>
                    <a href="?page={{tour_company_post.paginator.num_pages}}">Last</a>
                    {%endif%}
                    {% endcomment %}
                </div>

                <!-- 
                        <a class="write-btn" href=" {}">
                            <div class="btn-wrap">
                                <button class="btn-create">게시글 작성</button>
                            </div>
                        </a>
                         -->
            </div>
        </div>
    </div>
</body>

<footer>
    <div id="footer-nav"></div>
    <div id="footer-info">
        <div class="footer-info-text">
            Copyright © DOOBOO All Rights reserved.
        </div>
    </div>
</footer>

</html>