<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIKELION X lotte 메인화면</title>
</head>

<body>

    {%if user.is_authenticated%}
    {{user.nickname}} 님 ㅎㅇ
    <a href="{% url 'mypage' user.pk %}">마이페이지</a>
    <a href="{% url 'logout' %}">로그아웃</a>
    {%else%}
    <a href="{% url 'signin' %}">로그인</a>
    <a href="{% url 'select_division' %}">회원가입</a>
    {%endif%}

    <div class="food">
        <a href="{% url 'food' %}">식품</a>
    </div>

    <div class="retail">
        <a href="{% url 'retail' %}">유통</a>
    </div>

    <div class="chem-const-manufac">
        <a href="{% url 'chem' %}">화학/건설/제조</a>
    </div>

    <div class="tour-service-finance">
        <a href="{% url 'tour' %}">관광/서비스/금융</a>
    </div>

    <div>
        <a href="{% url 'post' %}">게시판</a>
    </div>
</body>

</html>