{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <title>LIKELION X lotte 유통</title>
</head>
<body>
    <div class="body-container">
        <div class="left-container">
            <ul>롯데백화점</ul>
            <ul>롯데마트</ul>
            <ul>롯데슈퍼</ul>
            <ul>코리아세븐</ul>
            <ul>롯데하이마트</ul>
            <ul>롯데홈쇼핑</ul>
            <ul>롯데쇼핑 e커머스</ul>
            <ul>롭스</ul>
            <ul>롯데멤버스</ul>
            <ul>롯데컬처웍스</ul>
            <ul>롯데에프알엘코리아</ul>
            <ul>롯데상사</ul>
        </div>

        <div class="right-container">
            
        </div>
    </div>
</body>
</html>