{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 글 작성</title>
    <link rel="stylesheet" href='{% static "css/write.css" %}' type="text/css" />
</head>

<body>
    <div class="container">

        <div class="nav_bar">
            <a href="{% url 'mainpage' %}">
                <img src="{% static 'img/logo.png' %}" class="logo">
            </a>
        </div>

        <div class="post-container">
            <form method="POST" action="{% url 'create' company_chk.pk %}" enctype="multipart/form-data">
                {% csrf_token %}

                {{write_form.title}}
                {{write_form.desc}}
                <!-- {{write_form.boards}} -->
                
                <input type="hidden" name="boards_number" value="{{company_chk.pk}}">

                <div class="btn-wrap">
                    <div class="btn--left">
                        <label for="id_image">파일</label>
                        {{write_form.image}}


                    </div>
                    <div class="btn--right">
                        <button class="btn">작성 완료</button>
                    </div>
            </form>
                
            </form>
        </div>
    </div>
</body>

</html>