{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
</head>

<body>
    <div class="background">
        <div class="header">
            <a href="{% url 'mainpage' %}">
                <img src="/media/images/logo.png" class="logo">
            </a>
            <div class="logout-btn">
                {{user.nickname}} | 로그아웃
            </div>
        </div>

        <div class="board-wrap">
            <div class="comp-wrap">
                <div class="comp-title">
                    마이페이지
                </div>
                <div class="comp-list">
                    <!-- 요기는 나중에 데이터 넣으면 for 문으로 돌아가게 하면 될 듯 -->
                    <div class="comp-box">
                        <div class="comp-name" id="name2">
                            내가 쓴 글
                        </div>
                    </div>

                    <div class="comp-box">
                        <div class="comp-name" id="name3">
                            스크랩한 글
                        </div>
                    </div>

                    <!-- 요 부분 예쁘게 수정해야돼요 -->
                    <div class="comp-box">
                        <div class="comp-name" id="name3">
                            <a href="{% url 'update_mypage' user.pk %}">정보수정</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post-wrap">
                <div class="post-title">
                    제목 | 게시 날짜 | 조회 | 스크랩 | 댓글
                </div>
                <div class="post-box-wrap">
                    <div class="post-box">
                        <div class="post" id="post1">
                            주모! 샷다내려잇! 나 오늘 집안가!
                            | 20.10.01 | 9 | 1 | 3
                        </div>
                    </div>
                    <div class="post-box">
                        <div class="post" id="post2">
                            벌써 10월 1일입니다... | 20.10.01 | 8 | 0 | 12
                        </div>
                    </div>
                    <div class="post-box">
                        <div class="post" id="post1">
                            추석 잘 보내세영 히히 | 20.10.01 | 6 | 0 | 30
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="footer-nav">
            <div class="container"></div>
        </div>
        <div id="footer-info">
            <div class="footer-info-text">
                Copyright © DOOBOO All Rights reserved.
            </div>
        </div>
    </div>
</body>

</html>