{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 쓴 글</title>
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
</head>

<body>
    <div class="background">
        <div class="header">
            <a href="{% url 'mainpage' %}">
                <img src="/media/images/logo.png" class="logo">
            </a>
            <div class="logout-btn">
                {{user.nickname}} | 로그아웃
            </div>
        </div>

        <!-- 로그인한 사람의 마이페이지가 맞는 경우 -->
        {%if user.pk is pk %}

        <div class="board-wrap">
            <div class="comp-wrap">
                <div class="comp-title">
                    마이페이지
                </div>
                <div class="comp-list">
                    <div class="comp-box">
                        <div class="comp-name" id="name2">
                            <a href="{% url 'mypost' user.pk %}">내가쓴 글</a>
                        </div>
                    </div>

                    <div class="comp-box">
                        <div class="comp-name" id="name3">
                            스크랩한 글
                        </div>
                    </div>

                    <!-- 요 부분 예쁘게 수정해야돼요 -->
                    <div class="comp-box">
                        <div class="comp-name" id="name3">
                            <a href="{% url 'update_mypage' user.pk %}">정보수정</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="post-wrap">
                <div class="post-title">
                    제목 | 게시 날짜 | 조회 | 스크랩 | 댓글
                </div>
                <div class="post-box-wrap">
                    {% for one_post in mypost %}
                    <a href="{% url 'detail' one_post.boards_number.id one_post.id %}">
                    <div class="post-box">
                        <div class="post" id="post1">
                            {{one_post.id}} | {{one_post}} | {{one_post.create_at|date:"Y-m-d"}} | 10000 | 30 | 5
                        </div>
                    </div>
                    </a>
                    {%endfor%}
                </div>
            </div>
        </div>

        <!-- 다른 사람 마이페이지일 경우 -->
        {% else %}

        에러에러

        {% endif %}
    </div>



    <div id="footer">
        <div id="footer-nav">
            <div class="container"></div>
        </div>
        <div id="footer-info">
            <div class="footer-info-text">
                Copyright © DOOBOO All Rights reserved.
            </div>
        </div>
    </div>
</body>

</html>