{% load static %}
<!DOCTYPE html>
<html lang="ko">
<!-- 현직자 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정보입력</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
    <div class="container">
        <div class="header">
            <!-- 헤더 부분 : 로고, 콜라보 이미지, 회원가입 프로세스 이미지 -->
            <a href=""><img src="/media/images/logo.png" class="logo"></a>
            <img src="/media/images/lotte_dbdb.png" alt="롯데 X두부두부" id="team-introduction">
        </div>

        <div class="process">
            <div id="signin">회원가입<div class="dot--medium"></div>
            </div>
            <img src="/media/images/signin-process-02.png" alt="signin-process-02" class="signin-process">
        </div>
        <div class="sub-text">정보 입력</div>
        <div>
            <form method="post" action="{% url 'incumbent_signup' %}">
                <div class="user-input-area">
                    {% csrf_token %}

                    <!-- 닉네임 -->
                    <div class="input-type">닉네임</div>
                    <input type="nickname" name="nickname" id="nickname" autocomplete="off" size="400" placeholder="닉네임"
                        required>
                    <label for="nickname"></label>
                    <button type="submit" class="input-btn" id="duplicate" value="중복 확인">중복 확인</button>
                    <p></p>
                    <!-- 이메일 -->
                    <div class="input-type">이메일</div>
                    <input type="email" name="email" id="email" autocomplete="off" size="400" placeholder="이메일"
                        required>
                    <label for="email"></label>
                    <p></p>
                    <!-- 계열 선택 select box : 크기, padding 설정... -->
                    <div class="input-type">계열 선택</div>
                    <select name="line">
                        <option value selected>계열 선택</option>
                        <option value="0">식품</option>
                        <option value="1">유통</option>
                        <option value="2">화학/건설/제조</option>
                        <option value="3">관광/서비스/금융</option>
                    </select>
                    <p></p>
                    <!-- 비밀번호 -->
                    <div class="input-type">비밀번호</div>
                    <input type="password" name="password1" id="password" autocomplete="off" size="400"
                        placeholder="비밀번호" required>
                    <label for="password"></label>
                    <p></p>
                    <!-- 비밀번호 재확인-->
                    <div class="input-type">비밀번호 재확인</div>
                    <input type="password" name="password2" id="password-check" autocomplete="off" size="400"
                        placeholder="비밀번호 재확인" required>
                    <label for="password-check"></label>
                    <p></p>
                </div>
                <input type="submit" class="finish-btn" value="회원가입">
            </form>

            <!-- 알림메시지 띄울 부분 -->
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>
</body>

<footer>
    <div id="footer-nav">
        <div class="container"></div>
    </div>
    <div id="footer-info">
        <div class="footer-info-text">
            Copyright © DOOBOO All Rights reserved.
        </div>
    </div>
</footer>

</html>